{
	Checks: '*,-modernize-use-emplace,-hicpp-use-emplace,-readability*,-cppcoreguidelines-pro-type-union-access,-hicpp-braces*,-fuchsia*,-llvm-header-guard,-cppcoreguidelines-special-member-functions,-hicpp-special-member-functions,-clang-diagnostic-unused-command-line-argument'
	HeaderFilterRegex: 'parts|utility'
}
