[submodule "3rdParty/simavr"]
	path = 3rdParty/simavr
	url = https://github.com/vintagepc/simavr.git
[submodule "3rdParty/tinyobjloader"]
	path = 3rdParty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "3rdParty/TCLAP"]
	path = 3rdParty/TCLAP
	url = https://git.code.sf.net/p/tclap/code
[submodule "3rdParty/gitversion"]
	path = 3rdParty/gitversion
	url = https://github.com/vintagepc/gitversion.git
[submodule "3rdParty/pngpp"]
	path = 3rdParty/pngpp
	url = https://github.com/vintagepc/pngpp.git
[submodule "3rdParty/shmemq404"]
	path = 3rdParty/shmemq404
	url = https://github.com/vintagepc/shmemq404.git
