# This is a basic workflow to help you get started with Actions

name: CI Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2.2.0
      with:
        repository: vintagepc/MK3SIM.git
        ssh-key: ${{ secrets.CIDeployKey }}
        submodules: true
    
    - name: Cache packages
      uses: actions/cache@v1.0.3
      id: cache-pkgs
      with:
          path: "packages"
          key: ${{secrets.build_pkg_cache}}
      
    - name: Setup cache dir
      if:  ${{ ! steps.cache-valgrind.outputs.cache-hit }}
      run: mkdir -p packages/partial
      
    - name: Install packages
      run: sudo apt-get -o Dir::Cache::Archives=`pwd`/packages install libelf-dev gcc-avr libglew-dev freeglut3-dev

    - name: Cache permissions
      run: sudo chmod -R 744 packages
      
    - name: Prepare CMake build
      run: mkdir ${{ runner.workspace }}/MK3SIM/build && cd ${{ runner.workspace }}/MK3SIM/build && cmake -DCMAKE_BUILD_TYPE=RELEASE ..
    
    - name: Build Einsy
      run: cd ${{ runner.workspace }}/MK3SIM/build && make
 
#    - name: Build CMake
#      uses: ashutoshvarma/action-cmake-build@v1
#      continue-on-error: true
#      with:
#        build-dir: ${{ runner.workspace }}/MK3SIM/build
#        build-type: Release
        
       

